section.repository-list {
  margin: 40px;

  h1 {
    margin-bottom: 16px;
  }

  ul {
    list-style: none;
    li {
      background-color: #8257e680;
      padding: 2rem;
      border-radius: 0.5rem;
      transition: 0.5s;
      & + li {
        margin-top: 20px;
      }

      p {
        font-size: 14px;
        color: #444;
        margin-top: 8px;
      }
      a {
        display: inline-block;
        margin-top: 16px;
        text-decoration: none;
        color: #8257e6;
      }
    }
    li:hover {
      background-color: #8257e69c;
      color: #fff;
    }
  }
}
